/.idea/
/.idea/.name
/.idea/misc.xml
/.idea/workspace.xml
/.tox/
/venv/
/export
/deps.txt
/workdir/
/logs/
/credentials.json
/tests/logs/
/htmlcov/
/lib/
/.coverage
/Pipfile.lock
/Pipfile
/credentials.json
/.coverage
